@import "tailwindcss";

@theme {
  --color-toreno-green: #8BC34A;
  --color-toreno-dark: #689F38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}